<li class="<%= sidebar_active_include %>">
  <a href="/include/index">
    <i class="fa fa-cloud"></i>
    <span>smsgateway.me</span>
    <span class="pull-right" id="websitestatus">
    </span>
  </a>
</li>
