<tr>
  <td><button class="btn btn-default btn-sm"><i class="fa fa-archive"></i></button></td>
  <td></td>
  <td class="mailbox-name"><a href="send">Alexander Pierce</a></td>
  <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
  <td class="mailbox-attachment"></td>
  <td class="mailbox-date"> 12:40 </td>
</tr>
