<li class="<%= sidebar_active_include %>">
    <a href="/include/<%= device.id %>">
        <i class="fa fa-tablet"></i>
        <span><%= device.name %></span>
        <span class="pull-right" id="<%= device.id %>">
    </span>
    </a>
</li>
